<% provide(:title,"About") %>
<h1>このアプリについて</h1>
<p>
  この<a href="http://railstutorial.org"><em>Ruby on Rails Tutorial</em></a>は<a href="http://rubyonrails">Ruby on Rails</a>によるWeb開発を目指す方に向けた<a href="http://railstutorial.jp">書籍</a>と<a href="http://screencasts.railstutorial.org">動画</a>による教材です。<br>
  このアプリケーションは本チュートリアルにおけるテストアプリケーションです。
</p>