<% provide(:title,"Help") %>
<h1>ヘルプ</h1>
<p>
  Ruby on Rails Tutorialのヘルプは<a href="http://railstutorial.jp/help">Rails tutorial help section</a>.より取得してください。<br>
  なお、このテストアプリケーションのヘルプは、<a href="http://railstutorial.jp"><em>Ruby on Rails Tutorial</em></a>を参照してください。
</p>
