<div class="center jumbotron">
  <h1>テストアプリケーション</h1>
  <h2>これは<a href="http://www.railstutorial.org/">Ruby on Rails Tutorial</a>に従って作成されたテストアプリケーションのホームページです</h2>
  <%= link_to "新規登録",signup_path, class: "btn btn-lg btn-primary" %>
</div>
<%= link_to image_tag("rails.png", alt: "Rails logo"), 'http://rubyonrails.org/' %>